<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script>
      function filterUsers() {
        let input = document.getElementById("search").value.toLowerCase();
        let rows = document.querySelectorAll(".list-user .list-item");
        rows.forEach((row) => {
          let name = row.querySelector(".name").textContent.toLowerCase();
          let email = row.querySelector(".email").textContent.toLowerCase();
          let country = row.querySelector(".country").textContent.toLowerCase();
          const isMatch =
            name.includes(input) ||
            email.includes(input) ||
            country.includes(input);
          isMatch
            ? row.classList.remove("d-none")
            : row.classList.add("d-none");
        });
      }
    </script>
  </head>
  <body class="p-4">
    <h2 class="mb-3">User Directory</h2>
    <input
      type="text"
      id="search"
      onkeyup="filterUsers()"
      placeholder="Search by name or email..."
      class="form-control mb-3"
    />

    <div class="d-flex flex-column mb-3 border border-bottom-0 rounded">
      <div
        class="d-flex flex-row align-items-center justify-content-around border-bottom fw-bold p-2 bg-light"
      >
        <div>Name</div>
        <div>Email</div>
        <div>Country</div>
      </div>
      <div class="list-user">
        {% for list in data %}
        <div
          class="d-flex list-item flex-row align-items-center justify-content-around border-bottom p-2"
        >
          <div class="name w-25 text-center">
            {{ list.name.first }} {{ list.name.last }}
          </div>
          <div class="email w-25 text-center">{{ list.email }}</div>
          <div class="country w-25 text-center">
            {{ list.location.country }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </body>
</html>
